Hello, My name is Bryan Lee Santoso. Welcome to my data analytics project about marathon runners. Thank you to Ryan & Matt Data Science for the tutorial on this project. Here, I am analyzing the data of marathons in Hong Kong in the 50km/50mi running category in 2022. STILL WORK IN PROGRESS

Dataset Kaggle source -> https://www.kaggle.com/datasets/aiaiaidavid/the-big-dataset-of-ultra-marathon-running?resource=download&select=TWO_CENTURIES_OF_UM_RACES.csv

In [103]:
# Importing all necessary libraries
import pandas as pd
import seaborn as sns

In [104]:
# Importing the dataset
# The dataset is assumed to be in the same directory as this script
df = pd.read_csv("TWO_CENTURIES_OF_UM_RACES.csv")

C:\Users\Bryan Lee\AppData\Local\Temp\ipykernel_21412\3690217006.py:3: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("TWO_CENTURIES_OF_UM_RACES.csv")

KeyboardInterrupt:

In [ ]:
# Showing the first 10 rows of the dataset
# This will help us understand the structure of the dataset
df.head(10)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverr√≠a,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4
5,2018,06.01.2018,Selva Costera (CHI),50km,22,6:25:01 h,NaN,ARG,1974.0,M,M40,7.792,5
6,2018,06.01.2018,Selva Costera (CHI),50km,22,6:28:00 h,Los Patagones,ARG,1979.0,F,W35,7.732,6
7,2018,06.01.2018,Selva Costera (CHI),50km,22,6:32:24 h,Reaktiva Chile,CHI,1967.0,F,W50,7.645,7
8,2018,06.01.2018,Selva Costera (CHI),50km,22,6:39:08 h,Puro Trail Osorno,CHI,1985.0,M,M23,7.516,8
9,2018,06.01.2018,Selva Costera (CHI),50km,22,6:45:11 h,Marlene Flores Team,CHI,1976.0,M,M40,7.404,9

In [ ]:
df.shape

(7461195, 13)

In [ ]:
df.dtypes

Year of event                  int64
Event dates                   object
Event name                    object
Event distance/length         object
Event number of finishers      int64
Athlete performance           object
Athlete club                  object
Athlete country               object
Athlete year of birth        float64
Athlete gender                object
Athlete age category          object
Athlete average speed         object
Athlete ID                     int64
dtype: object

In [ ]:
# Time to clean up the dataset
# Say we only want USA Races, 50K OR 50mI, 2020

In [ ]:
#Show 50k
df[df["Event distance/length"] == '50km']

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverr√≠a,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461089,1995,07.01.1995,Centenary Lakes 50 Km Track Run (AUS),50km,6,4:19:56 h,*QLD,AUS,1956.0,F,W35,11541.0,1046326
7461090,1995,07.01.1995,Centenary Lakes 50 Km Track Run (AUS),50km,6,4:28:57 h,*QLD,AUS,1954.0,M,M40,11154.0,1070007
7461091,1995,07.01.1995,Centenary Lakes 50 Km Track Run (AUS),50km,6,4:46:39 h,*QLD,AUS,1951.0,M,M40,10466.0,345672
7461092,1995,07.01.1995,Centenary Lakes 50 Km Track Run (AUS),50km,6,4:47:39 h,*QLD,AUS,1939.0,M,M55,10429.0,1082443
7461093,1995,07.01.1995,Centenary Lakes 50 Km Track Run (AUS),50km,6,5:58:16 h,*QLD,AUS,1938.0,F,W55,8374.0,1082581

In [ ]:
# Combine 50k and 50mI with isin
df[df["Event distance/length"].isin(['50km', '50mi'])]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
0,2018,06.01.2018,Selva Costera (CHI),50km,22,4:51:39 h,Tnfrc,CHI,1978.0,M,M35,10.286,0
1,2018,06.01.2018,Selva Costera (CHI),50km,22,5:15:45 h,Roberto Echeverr√≠a,CHI,1981.0,M,M35,9.501,1
2,2018,06.01.2018,Selva Costera (CHI),50km,22,5:16:44 h,Puro Trail Osorno,CHI,1987.0,M,M23,9.472,2
3,2018,06.01.2018,Selva Costera (CHI),50km,22,5:34:13 h,Columbia,ARG,1976.0,M,M40,8.976,3
4,2018,06.01.2018,Selva Costera (CHI),50km,22,5:54:14 h,Baguales Trail,CHI,1992.0,M,M23,8.469,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7461181,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,11:59:37 h,NaN,USA,1941.0,M,M50,6709.0,1045603
7461182,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:01:41 h,NaN,USA,1932.0,M,M60,6690.0,1070463
7461183,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1934.0,F,W60,6674.0,416139
7461184,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:03:26 h,NaN,USA,1951.0,F,W40,6674.0,1098098
7461185,1995,07.01.1995,Avalon Benefit 50-Mile Run (USA),50mi,92,12:05:59 h,NaN,USA,1947.0,F,W45,6650.0,1626367

In [ ]:
#Now we only want to see the ones in 2020
df[df["Event distance/length"].isin(['50km', '50mi']) & (df["Year of event"] == 2022)]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
3138208,2022,12.03.2022,Bel Monte 50 Mile Endurance Run (USA),50mi,49,7:53:36 h,"*Boston, MA",USA,1994.0,M,M23,10.194,839364
3138209,2022,12.03.2022,Bel Monte 50 Mile Endurance Run (USA),50mi,49,8:14:24 h,"*Charlotte, NC",USA,1990.0,M,M23,9.765,366598
3138210,2022,12.03.2022,Bel Monte 50 Mile Endurance Run (USA),50mi,49,8:19:16 h,"*Kannapolis, NC",USA,1979.0,M,M40,9.67,553476
3138211,2022,12.03.2022,Bel Monte 50 Mile Endurance Run (USA),50mi,49,8:23:49 h,"*Raleigh, NC",USA,1994.0,M,M23,9.583,807555
3138212,2022,12.03.2022,Bel Monte 50 Mile Endurance Run (USA),50mi,49,8:41:37 h,"*Washington, DC",USA,1997.0,M,M23,9.256,947348
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3609801,2022,16.10.2022,Tussey Mountainback 50 Miler (USA),50mi,35,11:16:08 h,"*Peachtree City, GA",USA,1968.0,M,M50,7.141,1044739
3609802,2022,16.10.2022,Tussey Mountainback 50 Miler (USA),50mi,35,11:27:05 h,"*Newport, PA",USA,1959.0,M,M60,7.027,50971
3609803,2022,16.10.2022,Tussey Mountainback 50 Miler (USA),50mi,35,11:46:34 h,"*Flemington, NJ",USA,1955.0,F,W65,6.833,73152
3609804,2022,16.10.2022,Tussey Mountainback 50 Miler (USA),50mi,35,11:55:29 h,"*Arlington, VA",USA,1965.0,M,M55,6.748,970133
3609805,2022,16.10.2022,Tussey Mountainback 50 Miler (USA),50mi,35,12:14:15 h,"*Johnstown, PA",USA,1981.0,F,W40,6.575,723380

In [ ]:
df[df['Event name'].str.split('(').str.get(1).str.split(')').str.get(0) == 'HKG']

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete club,Athlete country,Athlete year of birth,Athlete gender,Athlete age category,Athlete average speed,Athlete ID
445,2018,01.01.2018,The First Walk - 50km (HKG),50km,6,5:54:26 h,NaN,SGP,NaN,M,NaN,8.464,445
446,2018,01.01.2018,The First Walk - 50km (HKG),50km,6,6:03:50 h,NaN,HKG,NaN,M,NaN,8.246,446
447,2018,01.01.2018,The First Walk - 50km (HKG),50km,6,6:14:05 h,NaN,HKG,1974.0,F,W40,8.02,447
448,2018,01.01.2018,The First Walk - 50km (HKG),50km,6,6:24:17 h,NaN,HKG,NaN,F,NaN,7.807,448
449,2018,01.01.2018,The First Walk - 50km (HKG),50km,6,6:28:33 h,NaN,HKG,NaN,F,NaN,7.721,449
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7140034,1987,12.04.1987,"Hong Kong Island Cross Country ""Round-The-Isla...",64km,11,8:49:15 h,NaN,GBR,1929.0,M,M55,7256.0,178380
7217303,1989,31.01.-01.02.1989,24 Hour Track Race Hong Kong (HKG),24h,2,220.500 km,NaN,NZL,1949.0,F,W35,9188.0,1065952
7217304,1989,31.01.-01.02.1989,24 Hour Track Race Hong Kong (HKG),24h,2,181.800 km,NaN,NZL,1962.0,F,W23,7575.0,1072476
7299607,1991,09.-10.02.1991,24 Hour Track Race Hong Kong (HKG),24h,1,215.641 km,NaN,HKG,1962.0,F,W23,8985.0,1465619
7378891,1993,20.-21.02.1993,24 Hour Track Race Hong Kong (HKG),24h,1,203.213 km,NaN,HKG,1962.0,F,W23,8467.0,1465619

In [ ]:
# Now we want to combine all the filters together
df[df["Event distance/length"].isin(['50km', '50mi']) & (df["Year of event"] == 2022) & (df['Event name'].str.split('(').str.get(1).str.split(')').str.get(0) == 'HKG') ]

KeyboardInterrupt:

In [ ]:
df2 = df[df["Event distance/length"].isin(['50km', '50mi']) & (df["Year of event"] == 2022) & (df['Event name'].str.split('(').str.get(1).str.split(')').str.get(0) == 'HKG') ]
df2

(447, 13)

In [ ]:
# Want to remove the 'HKG' from the event name
df2'].str.split('(').str.get(0)

In [ ]:
df2

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete gender,Athlete average speed,Athlete ID,athlete_age
3545714,2022,10.12.2022,MSIG Lantau 50,50km,125,6:58:49,M,7.163,48516,40.0
3545715,2022,10.12.2022,MSIG Lantau 50,50km,125,7:01:48,M,7.112,32116,33.0
3545716,2022,10.12.2022,MSIG Lantau 50,50km,125,7:26:17,M,6.722,1030818,33.0
3545717,2022,10.12.2022,MSIG Lantau 50,50km,125,7:27:06,M,6.71,752528,38.0
3545718,2022,10.12.2022,MSIG Lantau 50,50km,125,7:39:38,M,6.527,662527,31.0
3545719,2022,10.12.2022,MSIG Lantau 50,50km,125,7:43:54,M,6.467,1030819,35.0
3545720,2022,10.12.2022,MSIG Lantau 50,50km,125,7:48:55,M,6.398,946863,57.0
3545721,2022,10.12.2022,MSIG Lantau 50,50km,125,7:54:11,M,6.327,946865,35.0
3545722,2022,10.12.2022,MSIG Lantau 50,50km,125,7:54:49,M,6.318,1030820,NaN
3545723,2022,10.12.2022,MSIG Lantau 50,50km,125,7:56:11,M,6.3,1030821,29.0

In [ ]:
# Cleaning up the athlete data
df2ered['Athdf2

KeyError: 'Athlete year of birth'

In [ ]:
# remove the h from Athlete performance
df2['Athlete performance'] = df2['Athlete performance'].str.split(' ').str.get(0)

C:\Users\Bryan Lee\AppData\Local\Temp\ipykernel_21412\3439131914.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Athlete performance'] = df_filtered['Athlete performance'].str.split(' ').str.get(0)

In [ ]:
df2.head(10)

NameError: name 'df2' is not defined

In [ ]:
df2.head(10)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete gender,Athlete average speed,Athlete ID,athlete_age
3545714,2022,10.12.2022,MSIG Lantau 50,50km,125,6:58:49,M,7.163,48516,40.0
3545715,2022,10.12.2022,MSIG Lantau 50,50km,125,7:01:48,M,7.112,32116,33.0
3545716,2022,10.12.2022,MSIG Lantau 50,50km,125,7:26:17,M,6.722,1030818,33.0
3545717,2022,10.12.2022,MSIG Lantau 50,50km,125,7:27:06,M,6.71,752528,38.0
3545718,2022,10.12.2022,MSIG Lantau 50,50km,125,7:39:38,M,6.527,662527,31.0
3545719,2022,10.12.2022,MSIG Lantau 50,50km,125,7:43:54,M,6.467,1030819,35.0
3545720,2022,10.12.2022,MSIG Lantau 50,50km,125,7:48:55,M,6.398,946863,57.0
3545721,2022,10.12.2022,MSIG Lantau 50,50km,125,7:54:11,M,6.327,946865,35.0
3545722,2022,10.12.2022,MSIG Lantau 50,50km,125,7:54:49,M,6.318,1030820,NaN
3545723,2022,10.12.2022,MSIG Lantau 50,50km,125,7:56:11,M,6.3,1030821,29.0

In [ ]:
# Time to clean up null values
df2.isnull().sum()

Year of event                 0
Event dates                   0
Event name                    0
Event distance/length         0
Event number of finishers     0
Athlete performance           0
Athlete gender                0
Athlete average speed         0
Athlete ID                    0
athlete_age                  44
dtype: int64

In [ ]:
df2[df2['athlete_age'].isnull()]

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete gender,Athlete average speed,Athlete ID,athlete_age
3545722,2022,10.12.2022,MSIG Lantau 50,50km,125,7:54:49,M,6.318,1030820,NaN
3545725,2022,10.12.2022,MSIG Lantau 50,50km,125,8:01:38,M,6.229,1030822,NaN
3545727,2022,10.12.2022,MSIG Lantau 50,50km,125,8:03:40,F,6.203,1030823,NaN
3545732,2022,10.12.2022,MSIG Lantau 50,50km,125,8:22:06,M,5.975,1030824,NaN
3545737,2022,10.12.2022,MSIG Lantau 50,50km,125,8:26:52,M,5.919,1030825,NaN
3545738,2022,10.12.2022,MSIG Lantau 50,50km,125,8:27:15,M,5.914,500919,NaN
3545739,2022,10.12.2022,MSIG Lantau 50,50km,125,8:27:22,M,5.913,1030826,NaN
3545744,2022,10.12.2022,MSIG Lantau 50,50km,125,8:31:42,M,5.863,858663,NaN
3545746,2022,10.12.2022,MSIG Lantau 50,50km,125,8:45:13,M,5.712,333712,NaN
3545750,2022,10.12.2022,MSIG Lantau 50,50km,125,9:03:46,M,5.517,529829,NaN
3545752,2022,10.12.2022,MSIG Lantau 50,50km,125,9:10:58,M,5.445,1030828,NaN
3545753,2022,10.12.2022,MSIG Lantau 50,50km,125,9:11:43,M,5.438,1030829,NaN
3545754,2022,10.12.2022,MSIG Lantau 50,50km,125,9:16:47,M,5.388,1030830,NaN
3545755,2022,10.12.2022,MSIG Lantau 50,50km,125,9:20:32,M,5.352,32349,NaN
3545756,2022,10.12.2022,MSIG Lantau 50,50km,125,9:22:20,M,5.335,1030831,NaN
3545761,2022,10.12.2022,MSIG Lantau 50,50km,125,9:25:35,M,5.304,1030832,NaN
3545763,2022,10.12.2022,MSIG Lantau 50,50km,125,9:28:22,M,5.278,100134,NaN
3545764,2022,10.12.2022,MSIG Lantau 50,50km,125,9:35:35,M,5.212,1030833,NaN
3545765,2022,10.12.2022,MSIG Lantau 50,50km,125,9:38:07,F,5.189,1030834,NaN
3545766,2022,10.12.2022,MSIG Lantau 50,50km,125,9:39:13,F,5.179,1030835,NaN
3545769,2022,10.12.2022,MSIG Lantau 50,50km,125,9:43:06,M,5.145,1030836,NaN
3545770,2022,10.12.2022,MSIG Lantau 50,50km,125,9:44:50,M,5.13,1030837,NaN
3545774,2022,10.12.2022,MSIG Lantau 50,50km,125,9:49:38,M,5.088,241959,NaN
3545777,2022,10.12.2022,MSIG Lantau 50,50km,125,9:53:34,M,5.054,1030839,NaN
3545778,2022,10.12.2022,MSIG Lantau 50,50km,125,9:53:55,M,5.051,1030840,NaN
3545779,2022,10.12.2022,MSIG Lantau 50,50km,125,9:54:03,M,5.05,1030841,NaN
3545782,2022,10.12.2022,MSIG Lantau 50,50km,125,10:01:27,M,4.988,1030842,NaN
3545784,2022,10.12.2022,MSIG Lantau 50,50km,125,10:12:18,M,4.9,1030843,NaN
3545786,2022,10.12.2022,MSIG Lantau 50,50km,125,10:13:11,M,4.893,1030844,NaN
3545787,2022,10.12.2022,MSIG Lantau 50,50km,125,10:15:46,F,4.872,654292,NaN
3545789,2022,10.12.2022,MSIG Lantau 50,50km,125,10:18:02,M,4.854,1030845,NaN
3545791,2022,10.12.2022,MSIG Lantau 50,50km,125,10:18:51,M,4.848,1030846,NaN
3545794,2022,10.12.2022,MSIG Lantau 50,50km,125,10:19:58,M,4.839,1030847,NaN
3545803,2022,10.12.2022,MSIG Lantau 50,50km,125,10:38:42,M,4.697,1030848,NaN
3545806,2022,10.12.2022,MSIG Lantau 50,50km,125,10:42:38,M,4.668,1030849,NaN
3545807,2022,10.12.2022,MSIG Lantau 50,50km,125,10:42:51,M,4.667,1030850,NaN
3545808,2022,10.12.2022,MSIG Lantau 50,50km,125,10:42:51,M,4.667,1030851,NaN
3545815,2022,10.12.2022,MSIG Lantau 50,50km,125,10:59:19,M,4.55,1030853,NaN
3545823,2022,10.12.2022,MSIG Lantau 50,50km,125,11:12:25,M,4.462,1030856,NaN
3545824,2022,10.12.2022,MSIG Lantau 50,50km,125,11:15:51,F,4.439,1030857,NaN
3545830,2022,10.12.2022,MSIG Lantau 50,50km,125,11:29:57,M,4.348,1030858,NaN
3545834,2022,10.12.2022,MSIG Lantau 50,50km,125,11:43:15,M,4.266,1030861,NaN
3545836,2022,10.12.2022,MSIG Lantau 50,50km,125,11:46:12,M,4.248,1030862,NaN
3545837,2022,10.12.2022,MSIG Lantau 50,50km,125,11:46:12,M,4.248,1030863,NaN

In [ ]:
df2 = df2.dropna(subset=['athlete_age'])
df2.isnull().sum()
df2.shape

(403, 10)

In [ ]:
#Check for duplicates values
df2[df2.duplicated() == True]

Empty DataFrame
Columns: [Year of event, Event dates, Event name, Event distance/length, Event number of finishers, Athlete performance, Athlete gender, Athlete average speed, Athlete ID, athlete_age]
Index: []

In [ ]:
# Reset index
df2.reset_index(drop=True)

,Year of event,Event dates,Event name,Event distance/length,Event number of finishers,Athlete performance,Athlete gender,Athlete average speed,Athlete ID,athlete_age
0,2022,10.12.2022,MSIG Lantau 50,50km,125,6:58:49,M,7.163,48516,40.0
1,2022,10.12.2022,MSIG Lantau 50,50km,125,7:01:48,M,7.112,32116,33.0
2,2022,10.12.2022,MSIG Lantau 50,50km,125,7:26:17,M,6.722,1030818,33.0
3,2022,10.12.2022,MSIG Lantau 50,50km,125,7:27:06,M,6.71,752528,38.0
4,2022,10.12.2022,MSIG Lantau 50,50km,125,7:39:38,M,6.527,662527,31.0
...,...,...,...,...,...,...,...,...,...,...
398,2022,22.10.2022,MSIG HK50 - Hong Kong Island,50km,136,9:42:10,M,5.153,111769,50.0
399,2022,22.10.2022,MSIG HK50 - Hong Kong Island,50km,136,9:42:58,F,5.146,1010590,44.0
400,2022,22.10.2022,MSIG HK50 - Hong Kong Island,50km,136,9:46:53,M,5.112,969335,36.0
401,2022,22.10.2022,MSIG HK50 - Hong Kong Island,50km,136,9:51:00,M,5.076,1043342,22.0
402,2022,22.10.2022,MSIG HK50 - Hong Kong Island,50km,136,9:52:52,M,5.06,681680,49.0

In [ ]:
# Fixing the types

NameError: name 'df2' is not defined